.index_m1{ background: #f7f7f7}
.index_m1 > div{ border-radius: 8px; border:1px #c1c1c1 solid; background-color: #fff;}
.add_icon{width: 40px; height: 40px; background-image: url(img/add_icon.png);}
.upload_icon{width: 66px; height: 66px; background-image: url(img/upload.png);}
.add_icon + div{font-size: 18px; color: #c1c1c1}

.fuwu > .ub > div{border-right: 1px #e5e5e5 solid; border-bottom: 1px #e5e5e5 solid; }
.fuwu > .ub > div:last-child{border-right: none; }
.iconwh{width: 36px; height: 36px;}
.iconwh + h3{line-height: 24px; font-size: 12px;color: #333; font-weight: normal;}
.icon_01{background-image: url(img/icon_01.png);}
.icon_02{background-image: url(img/icon_02.png);}
.icon_03{background-image: url(img/icon_03.png);}
.icon_04{background-image: url(img/icon_04.png);}
.icon_05{background-image: url(img/icon_05.png);}
.icon_06{background-image: url(img/icon_06.png);}
.icon_07{background-image: url(img/icon_07.png);}
.icon_08{background-image: url(img/icon_08.png);}
.icon_09{background-image: url(img/icon_09.png);}
.icon_10{background-image: url(img/icon_10.png);}  
.icon_11{background-image: url(img/icon_11.png);}  
.matterDir{height: 28px; padding-left: 30px; font-size: 12px; color: #333;line-height: 28px; background: #f7f7f7 url(img/dir.png) no-repeat 10px 5px; background-size: 16px 16px }
.matterDircon > div{border-right: 1px #e5e5e5 solid; }
.matterDircon > div:last-child{border-right: none; }
.icon_clock{background-image: url(img/clock.png);}
.icon_back{background-image: url(img/icon_back.png);}
.icon_add{background-image: url(img/add.png);}
.arrow-right{background-image: url(img/arrow-right.png); width: 12px; height: 24px;}
.arrow-down{background-image: url(img/arrow-down.png); width: 16px!important;}
.payBtn{width: 80px;height: 36px; line-height: 36px; background-color: #ff7600; text-align: center; color: #fff;border-radius:18px;}
.payInput label,.payInput input{ display: block;}
.payInput label{width: 80px;}
.nextFoot{ margin-top: 50px;}
.nextFoot div{ display: inline-block; width: 100%; color: #fff;background: #ff7600; line-height: 40px; border-radius: 20px;}
.nextFoot div:active{background: #e56a00; }
.message tr{ height: 40px;width: 100%;}
.message tr td{height:40px; line-height:30px; font-size: 14px; text-align: center;border-bottom: 1px #e5e5e5 solid;}

.sendTime{ background-color: #e5e5e5;font-size: 12px; line-height: 20px; padding-left: 10px}
.quality th{ font-weight: normal; font-size: 16px; color: #000}
.quality td{ font-weight: normal; font-size: 14px; color: #666}
.quality th,.quality td{height: 60px; border-right:1px #eee solid;border-bottom:1px #eee solid;}
.quality td:last-child{ border-right:none;}
.quality th,.quality tr:nth-child(even){background-color: #f7f7f7}

.mendInput > div{ border-radius: 8px; border:#e5e5e5 1px solid;}
.user_icon{width: 20px;  height: 45px; background-image: url(img/user.png);}
.tel_icon{width: 20px;  height: 45px; background-image: url(img/tel.png);}
.menu_icon{width: 20px;  height: 45px; background-image: url(img/menu.png);}
.address_icon{width: 20px;  height: 45px; background-image: url(img/dir.png);}
.mail_icon{width: 20px;  height: 45px; background-image: url(img/mail.png);}
.number_icon{width: 20px;  height: 45px; background-image: url(img/number.png);}
.mendType{font-size: 16px; margin-top: 25px; line-height: 40px}
.icon-off { background-image: url(img/off.png); width: 50px; height: 28px; }
.icon-on { background-image: url(img/on.png)!important; }
.clock_icon{ background-image: url(img/shuibiao.png); width: 60px; height: 60px; display: inline-block;}
.myclocks{height:125px;overflow-x:scroll}
.myclocks > div{width:100px; height: 96px; text-align: center; padding-top: 10px; padding-bottom: 10px;border: 2px transparent solid;}
.myclocks > div.active{background-color: #d4f5ff; border: 2px #5bbff7 solid; border-radius: 6px}

.control1{background-image: url(img/trash.png); width: 36px; height:36px;background-size: 30px 30px!important;}
.control2{background-image: url(img/note.png); width: 36px; height: 36px;background-size: 30px 30px!important;}
.control3{width: 65px; height: 28px; line-height: 28px; background-color: #fff; border:#66ccdf 1px solid; color: #66ccdf; text-align: center; border-radius: 5px;}
.control4{width: 65px; height: 28px; line-height: 28px; background-color: #66ccdf; border:#66ccdf 1px solid; color: #fff; text-align: center; border-radius: 5px;}
.icon_tou{background: url(img/tou.png) no-repeat left center; background-size: 6px 24px; padding-left: 10px}
.payed_icon{position: absolute; top: 7.5px; right: 10px;background-image: url(img/yijiaoqing.png);}

input[type=checkbox]{ -webkit-appearance: none; appearance: none; width: 18px; height: 18px; cursor: pointer; display: inline-block; background: #fff; position: relative; vertical-align: top; border: none;  margin:9px 5px 0 0}
input[type=checkbox]:before { content: url(img/check.png); }
input[type=checkbox]:focus{ outline: none; border-color: #eee; }
input[type=checkbox]:checked { background: #fff; }
input[type=checkbox]:active{ border: none; }
input[type=checkbox]:checked::after { content: url(img/checked.png); display: block; position: absolute; top: 0px; left: 0px }

.rewh{display: inline-block; width: 16px; height: 16px; margin-right: 5px; vertical-align: middle;}
.re01{background-image: url(img/re01.png);}
.re02{background-image: url(img/re02.png);}
.re03{background-image: url(img/re03.png);}
.re04{background-image: url(img/re04.png);}
.arr-dd{background-color: transparent; width:15px; height: 8px; margin-left: 5px}
.zhifubao{background-image: url(img/zhifubao.png); width: 40px; height: 40px}
.weixin{background-image: url(img/weixin.png); width: 40px; height: 40px}

/*停水公告*/
.annoBox{ border: 3px #e5e5e5 solid;  border-radius: 10px; background-color: #fff}
.annoBox .bbdc{border-bottom: 2px #e5e5e5 dashed;  line-height: 30px;font-size: 12px;}
.annoBox .bbdc:first-child{color: #ff7600}
.annoBox .bbdc:last-child{border-bottom: none; }
.bjindu .top{background: url(img/dian.png) repeat-y 14px top;}
.bjindu .bop{background: url(img/dian.png) repeat-y 14px top;}
.annCon .bjindu:first-child .top{background: none!important;}
.annCon .bjindu:last-child .bop{background: none!important;}
.annCon .bjindu img{position: absolute; width: 24px; height: 24px; left: 50%; margin-left: -12px; top: 50%; margin-top: -12px}
.mendInput textarea{padding: 3px}

.order_pay .radio-btn { margin-right: 0rem !important; }
.radio-btn { width: 18px; height: 18px; border-radius: 50%; border: 1px solid #dfdfdf; background: rgb(255, 255, 255); margin-right: 10px;  position: absolute;right: 0px;top: 50%;margin-top: -9px;}
.checkedRadio i { background-color: #10de21; }
.radio-btn i { display: block; width: 10px; height: 10px; border-radius: 50%; }
.radio-btn input[type="radio"] { visibility: hidden; }
span[onclick="endetail()"]{color: #000; background-color: #5bbff7;margin-left: 5px; color: #fff}

/*投票*/
.votelist{position: relative;}
.item{width: 49.8%; box-sizing:border-box; border-radius: 5px; position: absolute;}
.item > div{border: 1px #e5e5e5 solid}
.item img{display: block;}
.item h3{font-size: 14px; padding-top: 5px;}
.bg2{background-color: #ffae00!important;}
.btn_vote{width: 100%; height: 40px; line-height: 40px; border-radius: 5px; background-color: #3ab8ff; font-size: 16px; text-align: center; color: #fff}
.btn_vote[disabled="disabled"]{background-color: #999!important}
.info_icon{display:block;width: 15px; height: 15px; background-image: url(img/info_icon.png);}


.fee_success{width: 50px; height: 22px; background-image: url(img/fee_success.png);}
.fee_failed{width: 50px; height: 22px; background-image: url(img/fee_failed.png);}

/*选择水司*/
.selectbox{width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 9999999;background-color: #f7f7f7; box-sizing:border-box;}
